<div class="container">
  <div class="header">
    <h1 class="title">YAPS</h1>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default active">
        <input type="radio" name="options" id="year_2015" autocomplete="off" checked>
        2015
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" id="year_2014" autocomplete="off">
        2014
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" id="year_2013" autocomplete="off">
        2013
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" id="year_2012" autocomplete="off">
        2012
      </label>
    </div>
  </div>
  <div class="main-content">
    <% @programs.each do |program| %>
      <div class="program-link"><%= program.name %></div>
    <% end %>
  </div>
</div>
